## Домашнее задание 6

In [35]:
import numpy as np
import pandas as pd
from scipy import stats

### __Задача 1__

Даны значения величины заработной платы заемщиков банка (`salary`) и значения их поведенческого кредитного скоринга (`scoring`):
```
salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]
scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]
```
1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции `numpy.cov`. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек `numpy` и `pandas`.

In [16]:
df_task1 = pd.DataFrame([[35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 
                        [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]], columns=[i for i in range(10)])
df_task1 = df_task1.T.rename(columns={0:'salary', 1:'scoring'})
df_task1

   salary  scoring
0      35      401
1      45      574
2     190      874
3     200      919
4      40      459
5      70      739
6      54      653
7     150      902
8     120      746
9     110      832

In [27]:
X = df_task1['salary']
Y = df_task1['scoring']

cov_task1 = ((X - X.mean()) * (Y - Y.mean())).sum() / (X.shape[0] - 1)
print(' по формуле:', '\t', cov_task1, '\n', 'по функции:', '\t', np.cov(X, Y)[0][1])

 по формуле: 	 10175.37777777778
 по функции: 	 10175.377777777778

__коэффициент корреляции Пирсона__:
$$r_{XY} = \dfrac{\sigma_{XY}}{\sigma_X \cdot \sigma_Y}$$

In [31]:
corr_task1 = cov_task1 / X.std(ddof=1) / Y.std(ddof=1)
corr_task1

0.8874900920739163

In [32]:
df_task1.corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

In [33]:
np.corrcoef(X, Y)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

### __Задача 2__

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:
```
131, 125, 115, 122, 131, 115, 107, 99, 125, 111
```
Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

$$P(t_{\alpha/2}\leq Z\leq t_{1-\alpha/2})=p$$  
$$P(\overline{X}-t_{1-\alpha/2}\frac{\sigma}{\sqrt{n}}\leq\mu\leq \overline{X}-t_{\alpha/2}\frac{\sigma}{\sqrt{n}})=p$$

In [37]:
samples_task2 = np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])
mean_task2 = samples_task2.mean()
std_task2 = samples_task2.std(ddof=1)
n_task2 = samples_task2.shape[0]
p_task2 = 0.95
t1, t2 = stats.norm.ppf((1 - p_task2) / 2), stats.norm.ppf(1 - (1 - p_task2) / 2)
mean_task2 - t2 * std_task2 / np.sqrt(n_task2), mean_task2 - t1 * std_task2 / np.sqrt(n_task2)

(111.56384743341334, 124.63615256658665)

### __Задача 3__

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95

In [38]:
std_task3 = np.sqrt(25)
n_task3 = 27
mean_task3 = 174.2
p_task3 = 0.95

mean_task3 - t2 * std_task3 / np.sqrt(n_task3), mean_task3 - t1 * std_task3 / np.sqrt(n_task3)

(172.3140237765397, 176.08597622346028)